footer
  .row
    .column.twelve
      h2 Nina Petropoulos
      i.fa.fa-envelope-o(aria-hidden='true')
        span  petropoulos.nina@gmail.com
      br
      br
      i.fa.fa-file-o(aria-hidden='true')
        span
          a(href='{{ site.url }}/assets/resume_web.pdf')  Resume (PDF)
