header
	.container
		h1 {{ page.title }}
		p.summary  {{ page.summary }}
		.tag-wrap
			.rounded
				p Fiction
			.rounded
				p {{ page.author }}
			.rounded
				p Word Count
		.rating-wrap
			.star
			.star
			.star
			.star
			.star
