nav.column.twelve
  a(href='{{ site.url }}')
    img#logo(src='{{ site.url }}/assets/img/n-logo.svg')
  #links
    a(href='https://github.com/ninapetrop', target='_blank') Git
    a(href='{{ site.url}}/secret-stash.html') Secret Stash
