@import "_vars.sass"

*
	box-sizing: border-box

// Selection colors (easy to forget)
//::selection
  //background: $selection-color

//::-moz-selection
  //background: $selection-color

img::selection
  background: transparent

img::-moz-selection
  background: transparent

body
	background: #fafafa
  //-webkit-tap-highlight-color: $selection-color



// Basic Styles

html,
body
  min-height: 100vh

body
  background: #EBEBEB
  font-size: 16px
  line-height: 1.6
  font-family: $Open
  -webkit-font-smoothing: antialiased
  -webkit-text-size-adjust: 100%

// Helper Classes
.center, .text-center
	text-align: center
.margin-bottom
	margin-bottom: 50px
.clearfix
	clear: both

// Grid Styles

.row
	max-width: 980px
	display: flex
	flex-wrap: wrap
	justify-content: space-around
	margin: auto
	padding: 20px 5px
	.column
		margin: auto 10px
	.column.four
		width: 299px
	.column.five
		max-width: 376px
	.column.six
		width: 460px
	.column.eight
		width: 620px
	.column.two
		width: 139px
	.column.three
		width: 220px
	.column.twelve
		width: 940px
		margin: 15px auto
	.column.pull-right
		margin-left: auto
	.column.center
		margin: auto
