h1
	//font-size: 2.25em
	font-family: $Montserrat
	font-weight: 400

p.big
	//font-size: 1.125em

.uppercase
	text-transform: uppercase

ul
	list-style: none
	padding-left: 25px
	text-align: left
	li
		line-height: 28px
		color: $link
		font-size: 13px

h2
	font:
		weight: 300
		size: 28px
	letter-spacing: 4.8px
	text-align: left
	text-transform: uppercase
	color: $grey
	span
		opacity: .5

h3
	font:
		weight: 300
		size: 22px
	letter-spacing: 4.8px
	text-align: left
	text-transform: uppercase
	color: $grey
