section#header
	background-position: center center
	background-size: cover
	height: 85vh
	width: 100%
	margin: 0
	display: flex
	flex-direction: column
	color: white

	.column.five
		text-align: right
		#line
			height: 2px
			background: white
			width: 270px
			margin-left: auto
		h1
			font-size: 32px
			font-weight: 600
			letter-spacing: 1.8px
			margin-top: 15px
		h2
			font-weight: 500
			font-size: 18px
			margin-bottom: 10px
		p
			font-weight: 300
			font-size: 18px
			margin-top: 0

	.column.two
		display: flex
		flex-direction: column
		justify-content: space-between
		height: 200px

		img
			height: 45px
			width: 45px
			margin-left: auto
	#box
		width: 450px
		height: 390px
		margin: 50px auto
		background: rgba(25, 25, 25, .4)
		border-radius: 2px
		color: white
		text-align: center

		h1
			font-size: 36px
			text-transform: uppercase
			font-weight: 700
		h2
			font-size: 18px
			font-weight: 300

	nav
		height: 60px
		width: 100%
		background: rgba(225, 225, 225, .16)
		margin: 0
		bottom: 0
		padding: 5px 15px
		text-align: center
		color: white
		font-weight: 600


	nav.sticky
		position: fixed
		background: rgba(214, 70, 70, .8)
		top: 0
section#about
	.row
		color: #4A4A4A
		.column.twelve
			text-align: center
			img
				width: 250px
				height: 250px
				border-radius: 50%
				border: solid 8px white
				margin: auto
				box-shadow: 0px 1px 4px 0px rgba(92, 92, 92, .5)
		.column.two
			h2
				font-size: 24px
				font-family: $Montserrat
				font-weight: 400
			p
				font-size: 16px
		.column.two.pull-right
			//border-left: solid 6px #F98989
			padding-left: 40px
			position: relative
			top: -120px
			b
				font-size: 16px
				font-family: $Montserrat
				font-weight: 400
			ul
				list-style: none
				padding-left: 0
				li
					line-height: 28px
					color: $link
