@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,300,400italic,600);
@import url(https://fonts.googleapis.com/css?family=Nunito:400,300,700);
* {
  box-sizing: border-box; }

img::-moz-selection {
  background: transparent; }

img::selection {
  background: transparent; }

img::-moz-selection {
  background: transparent; }

html,
body {
  min-height: 100vh; }

body {
  font-size: 16px;
  line-height: 1.6;
  font-family: Open Sans, sans-serif;
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: 100%; }

.nunito {
  font-family: Nunito, sans-serif; }

.content-wrap {
  max-width: 934px;
  margin: 100px auto auto auto; }

h1 {
  font-size: 2.25em;
  margin-bottom: 50px;
  font-weight: 400; }

p.big {
  font-size: 1.125em; }

footer {
  background: #F0F0F0;
  height: 260px; }
  footer .content-wrap {
    padding: 50px auto; }
    footer .content-wrap #identity {
      width: 230px;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-flex-wrap: wrap;
          -ms-flex-wrap: wrap;
              flex-wrap: wrap; }
      footer .content-wrap #identity img {
        margin-right: 17px; }
      footer .content-wrap #identity p {
        letter-spacing: 1.3px;
        text-transform: uppercase;
        width: 140px;
        font-size: 16px; }
      footer .content-wrap #identity ul {
        list-style: none;
        padding-left: 60px; }
        footer .content-wrap #identity ul li {
          padding-top: 12px; }

header {
  background: #34314C;
  color: white;
  text-align: center;
  height: 390px;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-justify-content: space-around;
      -ms-flex-pack: distribute;
          justify-content: space-around; }
  header .container {
    width: 737px; }
    header .container h1 {
      font-size: 48px;
      font-family: Nunito, sans-serif; }
      header .container h1 a {
        color: white;
        text-decoration: none; }
    header .container .tag-wrap {
      display: -webkit-inline-flex;
      display: -ms-inline-flexbox;
      display: inline-flex;
      -webkit-justify-content: space-around;
          -ms-flex-pack: distribute;
              justify-content: space-around;
      width: 450px; }
      header .container .tag-wrap .rounded {
        border-radius: 10px;
        background: #FF7473;
        color: white;
        min-width: 125px;
        height: 27px;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-flex-direction: column;
            -ms-flex-direction: column;
                flex-direction: column;
        -webkit-align-items: center;
            -ms-flex-align: center;
                align-items: center; }

.articleCount2 {
  background: #565563; }

.articleCount3 {
  background: #4A314C; }

nav.top-bar {
  text-transform: capitalize;
  height: 50px;
  width: 100%;
  padding: 25px 15px 0 15px; }
  nav.top-bar .logo-wrap {
    width: 500px;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center; }
    nav.top-bar .logo-wrap .icon {
      width: 30px;
      height: 30px;
      border-radius: 50%;
      background: black;
      margin: 0 10px; }
    nav.top-bar .logo-wrap p {
      letter-spacing: 1.3px;
      font-size: 16px;
      text-transform: uppercase;
      width: 100px; }

section.card-wrap {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between; }
  section.card-wrap ul {
    list-style: none;
    padding-left: 0; }
  section.card-wrap .card-container {
    -webkit-perspective: 1000px;
            perspective: 1000px;
    margin-right: 20px; }
  section.card-wrap .card {
    position: relative;
    width: 270px;
    height: 270px;
    transition: all 0.6s ease;
    -webkit-transform-style: preserve-3d;
            transform-style: preserve-3d; }
  section.card-wrap #jekyll-themes .front, section.card-wrap #jekyll-themes .back {
    background: #56445D; }
  section.card-wrap #tutorials .front, section.card-wrap #tutorials .back {
    background: #548687; }
  section.card-wrap #recent-work .front, section.card-wrap #recent-work .back {
    background: #8FBC94; }
  section.card-wrap .front, section.card-wrap .back {
    position: absolute;
    top: 0;
    left: 0;
    width: 270px;
    height: 270px;
    border-radius: 5px;
    color: white;
    -webkit-backface-visibility: hidden;
            backface-visibility: hidden; }
  section.card-wrap .front {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
    font-size: 16px; }
  section.card-wrap .back {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
    font-size: 18px; }
  section.card-wrap .card-container:hover .card {
    -webkit-transform: rotateY(180deg);
            transform: rotateY(180deg); }
  section.card-wrap .back {
    -webkit-transform: rotateY(180deg);
            transform: rotateY(180deg); }
