@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,300,400italic,600);
@import url(https://fonts.googleapis.com/css?family=Montserrat:400,700);
@import url(0-tools/animate.min.css);
@import url(0-tools/slideInLeft.css);
@import url(0-tools/slideInRight.css);
* {
  box-sizing: border-box; }

img::-moz-selection {
  background: transparent; }

img::selection {
  background: transparent; }

img::-moz-selection {
  background: transparent; }

body {
  background: #fafafa; }

html,
body {
  min-height: 100vh; }

body {
  background: #EBEBEB;
  font-size: 16px;
  line-height: 1.6;
  font-family: Open Sans, sans-serif;
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: 100%; }

.center, .text-center {
  text-align: center; }

.margin-bottom {
  margin-bottom: 50px; }

.clearfix {
  clear: both; }

.white {
  background: #f9f9f9; }

.row {
  max-width: 980px;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  -webkit-justify-content: space-around;
      -ms-flex-pack: distribute;
          justify-content: space-around;
  margin: auto;
  padding: 20px 5px; }
  .row .column {
    margin: auto 10px; }
  .row .column.four {
    max-width: 299px; }
  .row .column.five {
    max-width: 376px; }
  .row .column.six {
    max-width: 460px; }
  .row .column.eight {
    max-width: 620px; }
  @media screen and (min-width: 493px) {
    .row .column.two {
      max-width: 139px; } }
  .row .column.three {
    max-width: 220px; }
  .row .column.twelve {
    width: 100%;
    margin: 15px auto; }
  .row .column.pull-right {
    margin-left: auto; }
  .row .column.center {
    margin: auto; }

h1 {
  font-family: Montserrat, sans-serif;
  font-weight: 400; }

.uppercase {
  text-transform: uppercase; }

ul {
  list-style: none;
  padding-left: 25px;
  text-align: left; }
  ul li {
    line-height: 28px;
    color: #4A90E2;
    font-size: 13px; }

h2 {
  font-weight: 300;
  font-size: 28px;
  letter-spacing: 4.8px;
  text-align: left;
  text-transform: uppercase;
  color: #9B9B9B; }
  h2 span {
    opacity: .5; }

h3 {
  font-weight: 300;
  font-size: 22px;
  letter-spacing: 4.8px;
  text-align: left;
  text-transform: uppercase;
  color: #9B9B9B; }

footer {
  background: #D8D8D8;
  color: #9B9B9B; }
  footer .row h2 {
    font-weight: 300;
    font-size: 28px;
    letter-spacing: 4.8px;
    text-align: left;
    text-transform: uppercase; }
  footer .row .link {
    text-decoration: none;
    color: white; }
    footer .row .link:hover {
      text-decoration: underline; }
  footer .row #email-trigger {
    transition: 1s ease-in-out;
    color: white;
    cursor: pointer; }
    footer .row #email-trigger.hide {
      display: none; }
  footer .row #email-revealed {
    transition: 1s ease-in-out; }
    footer .row #email-revealed.hide {
      display: none; }

nav {
  height: 60px;
  width: 100%;
  background: rgba(225, 225, 225, 0.16);
  margin: 0;
  bottom: 0;
  padding: 5px 15px;
  text-align: center;
  color: white;
  font-weight: 600;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center; }
  nav #links, nav #logo {
    display: none; }
  nav a {
    text-decoration: none;
    color: #4A90E2; }
    nav a:hover {
      text-decoration: underline; }

nav.sticky {
  position: fixed;
  background: white;
  color: #9B9B9B;
  top: 0;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  z-index: 1;
  box-shadow: 0px 1px 4px 0px rgba(92, 92, 92, 0.5); }
  nav.sticky #logo {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    height: 30px;
    width: 30px; }
  nav.sticky #links {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    width: 200px;
    -webkit-justify-content: space-around;
        -ms-flex-pack: distribute;
            justify-content: space-around; }
    nav.sticky #links a {
      color: #9B9B9B;
      font-family: Montserrat, sans-serif;
      font-weight: 300;
      letter-spacing: 1.9px; }

#recent-work {
  background: #f9f9f9; }
  @media screen and (max-width: 965px) {
    #recent-work .row {
      -webkit-flex-direction: column;
          -ms-flex-direction: column;
              flex-direction: column; } }
  #recent-work .row h2 {
    font-weight: 300;
    font-size: 28px;
    letter-spacing: 4.8px;
    text-align: left;
    text-transform: uppercase;
    color: #9B9B9B; }
  #recent-work .row h3 {
    font-weight: 500;
    font-size: 24px;
    text-align: center;
    color: #9B9B9B; }
  #recent-work .row .column.four.work-wrap {
    height: 380px;
    text-align: center;
    margin: auto;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column; }
    #recent-work .row .column.four.work-wrap .background {
      width: 299px;
      height: 200px;
      background-position: top center;
      background-size: cover;
      background-repeat: no-repeat;
      box-shadow: 0px 1px 4px 0px rgba(92, 92, 92, 0.5); }
    #recent-work .row .column.four.work-wrap h4 {
      font-weight: 600;
      font-size: 16px;
      color: #4A4A4A; }
    #recent-work .row .column.four.work-wrap p {
      font-size: 14px;
      color: #9B9B9B;
      margin-bottom: 25px; }
    #recent-work .row .column.four.work-wrap ul {
      list-style: none;
      padding-left: 25px;
      text-align: left;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-justify-content: space-around;
          -ms-flex-pack: distribute;
              justify-content: space-around; }
      #recent-work .row .column.four.work-wrap ul li {
        line-height: 28px;
        color: #4A90E2;
        font-size: 13px;
        -webkit-align-self: flex-end;
            -ms-flex-item-align: end;
                align-self: flex-end; }
    #recent-work .row .column.four.work-wrap a {
      text-decoration: none;
      color: #4A90E2; }
      #recent-work .row .column.four.work-wrap a:hover {
        text-decoration: underline;
        cursor: pointer; }

#skills h2 {
  font-weight: 300;
  font-size: 28px;
  letter-spacing: 4.8px;
  text-align: left;
  text-transform: uppercase;
  color: #9B9B9B; }

#skills #skills-chart {
  background: #f9f9f9;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  box-shadow: 0px 1px 4px 0px rgba(92, 92, 92, 0.4);
  border-radius: 4px;
  margin-bottom: 25px;
  opacity: .1;
  transition: all 1.3s ease-in-out; }
  #skills #skills-chart.is-showing {
    opacity: 1; }
  #skills #skills-chart header {
    text-align: center;
    width: 100%;
    height: 80px;
    text-transform: uppercase;
    letter-spacing: 1.7px;
    font-size: 18px;
    color: white;
    padding: 20px;
    background: #6e6e6e;
    margin-bottom: 40px; }
  #skills #skills-chart .triangle {
    width: 0;
    height: 0;
    border-left: 20px solid transparent;
    border-right: 20px solid transparent;
    border-top: 20px solid #6e6e6e;
    margin: auto;
    position: relative;
    bottom: -30px; }
  #skills #skills-chart .skill-group {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin: 10px auto;
    max-width: 400px; }
    #skills #skills-chart .skill-group label {
      width: 100px;
      font-weight: 500;
      color: #9B9B9B; }
    #skills #skills-chart .skill-group .strength-meter {
      height: 25px;
      width: 290px;
      border-radius: 20px;
      background: #f2f2f2;
      box-shadow: 0px 1px 4px 0px rgba(92, 92, 92, 0.5); }
      #skills #skills-chart .skill-group .strength-meter .value {
        height: 100%;
        border-radius: 20px;
        text-align: center;
        font-weight: 600;
        padding: 2px 0;
        transition: all .8s ease-in-out;
        width: 0;
        font-size: 14px; }
      #skills #skills-chart .skill-group .strength-meter .value.animate {
        color: #fafafa; }
      #skills #skills-chart .skill-group .strength-meter .value.html {
        background: #FF8888; }
        #skills #skills-chart .skill-group .strength-meter .value.html.animate {
          width: 100%; }
      #skills #skills-chart .skill-group .strength-meter .value.css {
        background: #88E2FF; }
        #skills #skills-chart .skill-group .strength-meter .value.css.animate {
          width: 100%; }
      #skills #skills-chart .skill-group .strength-meter .value.javascript {
        background: #FFC988; }
        #skills #skills-chart .skill-group .strength-meter .value.javascript.animate {
          width: 75%;
          border-top-right-radius: 0;
          border-bottom-right-radius: 0; }
      #skills #skills-chart .skill-group .strength-meter .value.sass {
        background: #BC88FF; }
        #skills #skills-chart .skill-group .strength-meter .value.sass.animate {
          width: 100%; }
      #skills #skills-chart .skill-group .strength-meter .value.jade {
        background: #8DE0B1; }
        #skills #skills-chart .skill-group .strength-meter .value.jade.animate {
          width: 100%; }
      #skills #skills-chart .skill-group .strength-meter .value.bootstrap {
        background: #BC88FF; }
        #skills #skills-chart .skill-group .strength-meter .value.bootstrap.animate {
          width: 100%; }
      #skills #skills-chart .skill-group .strength-meter .value.mojolicious {
        background: #F89957; }
        #skills #skills-chart .skill-group .strength-meter .value.mojolicious.animate {
          width: 55%;
          border-top-right-radius: 0;
          border-bottom-right-radius: 0; }
      #skills #skills-chart .skill-group .strength-meter .value.django {
        background: #5EBA7F; }
        #skills #skills-chart .skill-group .strength-meter .value.django.animate {
          width: 50%;
          border-top-right-radius: 0;
          border-bottom-right-radius: 0; }
      #skills #skills-chart .skill-group .strength-meter .value.wordpress {
        background: #2B8DD0; }
        #skills #skills-chart .skill-group .strength-meter .value.wordpress.animate {
          width: 60%;
          border-top-right-radius: 0;
          border-bottom-right-radius: 0; }
      #skills #skills-chart .skill-group .strength-meter .value.jekyll {
        background: #6D6E6A; }
        #skills #skills-chart .skill-group .strength-meter .value.jekyll.animate {
          width: 95%;
          border-top-right-radius: 0;
          border-bottom-right-radius: 0; }

#secret-stash .row .six {
  margin-top: 0; }
  #secret-stash .row .six .item {
    margin-bottom: 35px; }
    #secret-stash .row .six .item a {
      text-decoration: none;
      color: #4A90E2; }
      #secret-stash .row .six .item a:hover {
        text-decoration: underline;
        cursor: pointer; }
    #secret-stash .row .six .item p {
      font-size: 13px;
      color: #9B9B9B; }

section#header {
  height: 85vh;
  width: 100%;
  margin: 0;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  color: white;
  background-image: linear-gradient(140deg, #d64646, rgba(237, 125, 125, 0.95)), url(/assets/img/small_steps.png); }
  section#header .row {
    width: 100%;
    -webkit-justify-content: flex-start;
        -ms-flex-pack: start;
            justify-content: flex-start; }
  section#header .pull-left {
    left: 0;
    float: left;
    -webkit-align-content: flex-start;
        -ms-flex-line-pack: start;
            align-content: flex-start;
    padding-left: 0;
    margin-left: 0;
    text-align: left; }
  section#header .column.five {
    text-align: right; }
    section#header .column.five #line {
      height: 2px;
      background: white;
      width: 270px;
      margin-left: auto; }
    section#header .column.five h1 {
      font-size: 32px;
      font-weight: 600;
      letter-spacing: 1.8px;
      margin-top: 15px; }
    section#header .column.five h2 {
      font-weight: 500;
      font-size: 18px;
      margin-bottom: 10px;
      color: white;
      text-align: right; }
    section#header .column.five p {
      font-weight: 300;
      font-size: 18px;
      margin-top: 0; }
  section#header .column.two {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-direction: row;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding-left: 50px; }
    @media screen and (min-width: 493px) {
      section#header .column.two {
        -webkit-flex-direction: column;
            -ms-flex-direction: column;
                flex-direction: column;
        height: 200px; } }
    @media screen and (max-width: 493px) {
      section#header .column.two {
        width: 200px; } }
    section#header .column.two img {
      height: 45px;
      width: 45px;
      margin-left: auto; }

section#about .row {
  color: #4A4A4A; }
  section#about .row .column.twelve {
    text-align: center; }
    section#about .row .column.twelve img {
      width: 250px;
      height: 250px;
      border-radius: 50%;
      border: solid 8px white;
      margin: auto;
      box-shadow: 0px 1px 4px 0px rgba(92, 92, 92, 0.5); }
  section#about .row .column.two h2 {
    font-size: 24px;
    font-family: Montserrat, sans-serif;
    font-weight: 400; }
  section#about .row .column.two p {
    font-size: 16px; }
  section#about .row .column.two.pull-right {
    padding-left: 40px;
    position: relative;
    top: -120px; }
    section#about .row .column.two.pull-right b {
      font-size: 16px;
      font-family: Montserrat, sans-serif;
      font-weight: 400; }
    section#about .row .column.two.pull-right ul {
      list-style: none;
      padding-left: 0; }
      section#about .row .column.two.pull-right ul li {
        line-height: 28px;
        color: #4A90E2; }
