@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,300,400italic,600);
@import url(https://fonts.googleapis.com/css?family=Montserrat:400,700);
@import url(0-tools/animate.min.css);
@import url(0-tools/slideInLeft.css);
@import url(0-tools/slideInRight.css);
* {
  box-sizing: border-box; }

img::-moz-selection {
  background: transparent; }

img::selection {
  background: transparent; }

img::-moz-selection {
  background: transparent; }

body {
  background: #fafafa; }

html,
body {
  min-height: 100vh; }

body {
  background: #EBEBEB;
  font-size: 16px;
  line-height: 1.6;
  font-family: Open Sans, sans-serif;
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: 100%; }

.center, .text-center {
  text-align: center; }

.margin-bottom {
  margin-bottom: 50px; }

.clearfix {
  clear: both; }

.row {
  max-width: 980px;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  -webkit-justify-content: space-around;
      -ms-flex-pack: distribute;
          justify-content: space-around;
  margin: auto;
  padding: 20px 5px; }
  .row .column {
    margin: auto 10px; }
  .row .column.four {
    width: 299px; }
  .row .column.five {
    max-width: 376px; }
  .row .column.six {
    width: 460px; }
  .row .column.eight {
    width: 620px; }
  .row .column.two {
    width: 139px; }
  .row .column.three {
    width: 220px; }
  .row .column.twelve {
    width: 940px;
    margin: 15px auto; }
  .row .column.pull-right {
    margin-left: auto; }
  .row .column.center {
    margin: auto; }

h1 {
  font-family: Montserrat, sans-serif;
  font-weight: 400; }

a {
  text-decoration: none;
  color: #4A90E2; }
  a:hover {
    text-decoration: underline; }

.uppercase {
  text-transform: uppercase; }

ul {
  list-style: none;
  padding-left: 25px;
  text-align: left; }
  ul li {
    line-height: 28px;
    color: #4A90E2;
    font-size: 13px; }

h2 span {
  opacity: .5; }

footer {
  background: #D8D8D8;
  color: #9B9B9B; }
  footer h2 {
    font-weight: 300;
    font-size: 28px;
    letter-spacing: 4.8px;
    text-align: left;
    text-transform: uppercase; }
  footer .column.twelve ul {
    padding-left: 0; }
    footer .column.twelve ul li {
      font-size: 14px; }

#recent-work {
  background: #f9f9f9; }
  #recent-work .row:nth-of-type(3) {
    padding-top: 0; }
  #recent-work .row .column.four.line {
    height: 1px;
    background: #D2D2D2; }
  #recent-work .row h2 {
    font-weight: 300;
    font-size: 28px;
    letter-spacing: 4.8px;
    text-align: left;
    text-transform: uppercase;
    color: #9B9B9B; }
  #recent-work .row h3 {
    font-weight: 500;
    font-size: 24px;
    text-align: center;
    color: #9B9B9B; }
  #recent-work .row .column.four.work-wrap {
    min-height: 440px;
    text-align: center;
    opacity: .1;
    transition: all 1.3s ease-in-out; }
    #recent-work .row .column.four.work-wrap .background {
      width: 299px;
      height: 170px;
      background-position: top center;
      background-size: cover;
      background-repeat: no-repeat;
      box-shadow: 0px 1px 4px 0px rgba(92, 92, 92, 0.5); }
    #recent-work .row .column.four.work-wrap h4 {
      font-weight: 600;
      font-size: 16px;
      color: #4A4A4A; }
    #recent-work .row .column.four.work-wrap p {
      font-size: 14px;
      color: #9B9B9B;
      margin-bottom: 25px; }
    #recent-work .row .column.four.work-wrap.is-showing {
      opacity: 1; }
    #recent-work .row .column.four.work-wrap ul {
      list-style: none;
      padding-left: 25px;
      text-align: left; }
      #recent-work .row .column.four.work-wrap ul li {
        line-height: 28px;
        color: #4A90E2;
        font-size: 13px; }

#skills h2 {
  font-weight: 300;
  font-size: 28px;
  letter-spacing: 4.8px;
  text-align: left;
  text-transform: uppercase;
  color: #9B9B9B; }

#skills #skills-chart {
  background: #f9f9f9;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  box-shadow: 0px 1px 4px 0px rgba(92, 92, 92, 0.4);
  border-radius: 4px;
  margin-bottom: 25px;
  opacity: .1;
  transition: all 1.3s ease-in-out; }
  #skills #skills-chart.is-showing {
    opacity: 1; }
  #skills #skills-chart header {
    text-align: center;
    width: 100%;
    height: 80px;
    text-transform: uppercase;
    letter-spacing: 1.7px;
    font-size: 18px;
    color: white;
    padding: 20px;
    background: #6e6e6e;
    margin-bottom: 40px; }
  #skills #skills-chart .triangle {
    width: 0;
    height: 0;
    border-left: 20px solid transparent;
    border-right: 20px solid transparent;
    border-top: 20px solid #6e6e6e;
    margin: auto;
    position: relative;
    bottom: -30px; }
  #skills #skills-chart .skill-group {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin: 10px auto;
    width: 400px; }
    #skills #skills-chart .skill-group label {
      width: 100px;
      font-weight: 500;
      color: #9B9B9B; }
    #skills #skills-chart .skill-group .strength-meter {
      height: 25px;
      width: 290px;
      border-radius: 20px;
      background: #f2f2f2;
      box-shadow: 0px 1px 4px 0px rgba(92, 92, 92, 0.5); }
      #skills #skills-chart .skill-group .strength-meter .value {
        height: 100%;
        border-radius: 20px;
        color: transparent;
        text-align: center;
        font-weight: 600;
        padding: 2px 0;
        transition: all .8s ease-in-out;
        width: 0;
        font-size: 14px; }
      #skills #skills-chart .skill-group .strength-meter .value.animate {
        color: white; }
      #skills #skills-chart .skill-group .strength-meter .value.html {
        background: #FF8888; }
        #skills #skills-chart .skill-group .strength-meter .value.html.animate {
          width: 100%; }
      #skills #skills-chart .skill-group .strength-meter .value.css {
        background: #88E2FF; }
        #skills #skills-chart .skill-group .strength-meter .value.css.animate {
          width: 100%; }
      #skills #skills-chart .skill-group .strength-meter .value.javascript {
        background: #FFC988; }
        #skills #skills-chart .skill-group .strength-meter .value.javascript.animate {
          width: 75%;
          border-top-right-radius: 0;
          border-bottom-right-radius: 0; }
      #skills #skills-chart .skill-group .strength-meter .value.sass {
        background: #BC88FF; }
        #skills #skills-chart .skill-group .strength-meter .value.sass.animate {
          width: 100%; }
      #skills #skills-chart .skill-group .strength-meter .value.jade {
        background: #8DE0B1; }
        #skills #skills-chart .skill-group .strength-meter .value.jade.animate {
          width: 100%; }
      #skills #skills-chart .skill-group .strength-meter .value.bootstrap {
        background: #BC88FF; }
        #skills #skills-chart .skill-group .strength-meter .value.bootstrap.animate {
          width: 100%; }
      #skills #skills-chart .skill-group .strength-meter .value.mojolicious {
        background: #BC88FF; }
        #skills #skills-chart .skill-group .strength-meter .value.mojolicious.animate {
          width: 65%; }
      #skills #skills-chart .skill-group .strength-meter .value.django {
        background: #BC88FF; }
        #skills #skills-chart .skill-group .strength-meter .value.django.animate {
          width: 65%; }
      #skills #skills-chart .skill-group .strength-meter .value.wordpress {
        background: #BC88FF; }
        #skills #skills-chart .skill-group .strength-meter .value.wordpress.animate {
          width: 60%; }
      #skills #skills-chart .skill-group .strength-meter .value.jekyll {
        background: #BC88FF; }
        #skills #skills-chart .skill-group .strength-meter .value.jekyll.animate {
          width: 100%; }

section#header {
  background-position: center center;
  background-size: cover;
  height: 85vh;
  width: 100%;
  margin: 0;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  color: white; }
  section#header .column.five {
    text-align: right; }
    section#header .column.five #line {
      height: 2px;
      background: white;
      width: 270px;
      margin-left: auto; }
    section#header .column.five h1 {
      font-size: 32px;
      font-weight: 600;
      letter-spacing: 1.8px;
      margin-top: 15px; }
    section#header .column.five h2 {
      font-weight: 500;
      font-size: 18px;
      margin-bottom: 10px; }
    section#header .column.five p {
      font-weight: 300;
      font-size: 18px;
      margin-top: 0; }
  section#header .column.two {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between;
    height: 200px; }
    section#header .column.two img {
      height: 45px;
      width: 45px;
      margin-left: auto; }
  section#header #box {
    width: 450px;
    height: 390px;
    margin: 50px auto;
    background: rgba(25, 25, 25, 0.4);
    border-radius: 2px;
    color: white;
    text-align: center; }
    section#header #box h1 {
      font-size: 36px;
      text-transform: uppercase;
      font-weight: 700; }
    section#header #box h2 {
      font-size: 18px;
      font-weight: 300; }
  section#header nav {
    height: 60px;
    width: 100%;
    background: rgba(225, 225, 225, 0.16);
    margin: 0;
    bottom: 0;
    padding: 5px 15px;
    text-align: center;
    color: white;
    font-weight: 600; }
  section#header nav.sticky {
    position: fixed;
    background: rgba(214, 70, 70, 0.8);
    top: 0; }

section#about .row {
  color: #4A4A4A; }
  section#about .row .column.twelve {
    text-align: center; }
    section#about .row .column.twelve img {
      width: 250px;
      height: 250px;
      border-radius: 50%;
      border: solid 8px white;
      margin: auto;
      box-shadow: 0px 1px 4px 0px rgba(92, 92, 92, 0.5); }
  section#about .row .column.two h2 {
    font-size: 24px;
    font-family: Montserrat, sans-serif;
    font-weight: 400; }
  section#about .row .column.two p {
    font-size: 16px; }
  section#about .row .column.two.pull-right {
    padding-left: 40px;
    position: relative;
    top: -120px; }
    section#about .row .column.two.pull-right b {
      font-size: 16px;
      font-family: Montserrat, sans-serif;
      font-weight: 400; }
    section#about .row .column.two.pull-right ul {
      list-style: none;
      padding-left: 0; }
      section#about .row .column.two.pull-right ul li {
        line-height: 28px;
        color: #4A90E2; }
