footer
	background: #D8D8D8
	color: $grey
	.row
		h2
			font:
				weight: 300
				size: 28px
			letter-spacing: 4.8px
			text-align: left
			text-transform: uppercase
		span, a
			font-size: 14px
			padding-left: 10px
			text-decoration: none
			color: $grey
