header
	background: #34314C
	color: white
	text-align: center
	height: 390px
	display: flex
	flex-direction: column
	justify-content: space-around
	.container
		width: 737px
		h1
			font-size: 48px
			font-family: $Nunito
			a
				color: white
				text-decoration: none
		.tag-wrap
			display: inline-flex
			justify-content: space-around
			width: 450px
			.rounded
				border-radius: 10px
				background: #FF7473
				color: white
				min-width: 125px
				height: 27px
				display: flex
				flex-direction: column
				align-items: center
// Style the articles that show up on the index page
.articleCount2
	background: #565563
.articleCount3
	background: #4A314C
