nav.top-bar
	text-transform: capitalize
	height: 50px
	width: 100%
	padding: 25px 15px 0 15px


	.logo-wrap
		width: 500px
		display: flex
		align-items: center
		.icon
			width: 30px
			height: 30px
			border-radius: 50%
			background: black
			margin: 0 10px
		p
			letter-spacing: 1.3px
			font-size: 16px
			text-transform: uppercase
			width: 100px
